/* Style */
/* Created By Krunal Wankhede  */

li
  {
  /* color: black; */
  display: flex;
  }
  .m_0
  {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  /* The container  Checkbox*/
  .container-checkbox {
  margin-left: 5px;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  }

  /* Create a custom checkbox */
  .container-checkbox .checkmark {
  position: absolute;
  top: 7px;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #ffffff;
  border: 7px solid #c2c2c2;
  border-radius: 50%;
  }
  .root .container-checkbox .checkmark{top: 6px;}

  /* On mouse-over, add a grey background color */
  .container-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .container-checkbox input:checked ~ .checkmark {
  background-color: #ffffff;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .container-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  }

  /* Show the checkmark when checked */
  .container-checkbox input:checked ~ .checkmark:after {
  display: block;
  }

  /* Style the checkmark/indicator */
  .container-checkbox .checkmark:after {
  /*  left: 4px;
  top: 0px;
  width: 6px;
  height: 13px;
  border: solid #0015ff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);*/
  left: -7px;
  top: -7px;
  width: 19px;
  height: 19px;
  background: #f9f9f9;
  border: 7px solid #e07725;
  border-radius: 50%;
  }

  /*checkbox*/

  .category_name
  {
  margin-left: 25px;
  }

  .pl_15
  {
  padding-left: 15px;
  }

  .root_css
  {
  font-size: 18px;
  }

  /*@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');*/
  .divinline{
  /*display: inline-flex;*/
  text-align: center;
  }

  .container
  {

  /* margin-left:570px !important; */
  font-size:15px;
  max-height: 500px; 
  overflow-y: auto; 

  }

  .list
  {border: 1px solid #ccd8e4;/* border-radius: 5px; *//*max-height: 700px;*/display: block;/*overflow: auto; */background-color:#F9F9F9;}
  .dark-mode .list{border: 1px solid #252b49; background-color: #1f243e;}

  .list1
  {
  border: 2px solid black;
  text-align:left;
  width:100%;
  max-height: 500px;
  overflow-y: auto;


  }
  .list_div_inner
  {
  /*max-height: 600px;*/
  max-height: 435px;
  overflow: hidden;
  overflow-y: auto;
  }

  .cat_name
  {
  padding: 5px;
  margin-left: 20px;
  box-shadow: 3px 7px #888888;
  }

  .form_demo{
  width:max-content;
  }

  .sticky
  {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  }



  .form1
  {
  background-color:#F8F8F8   !important;

  }


  #form1
  {
  font-size:15px;
  }

  .modal-content{
  background-color:#fff !important;
  }


  #demo2
  {
  max-height: 250px;
  overflow: auto;
  }

  #demo3
  {
  max-height: 250px;
  overflow: auto;
  }
  .root
  {
  font-size:20px;
  border-bottom: 1px solid #606060;
  background-color: #7e7e7e !important;
  /* background-color: #ea7f2b !important; */
  color: white;
  padding: 5px;
  }
  .dark-mode .root{border-bottom: 1px solid #082747; background-color: #0b3662 !important;}

  * {
  box-sizing: border-box;
  }

  #myInput,#myInput1{
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 8px 20px 6px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  border: 1px solid;

  box-shadow: 5px 5px 15px #888888;

  }

  /* hide original list counter */
  ul li {display:block; cursor: pointer;} 
  /* OR */ 
  ul {list-style:none;}
  .btn_div
  {
  margin-top: 10px;
  padding: 10px;
  /*margin-bottom: 10px;*/
  }
  .btn_div_outer
  {
  background-color: #fff;
  border-radius: 5px;
  }
  .dark-mode .btn_div_outer{background-color: #082747;}
  .btn_add:hover, .btn_delete:hover, .btn_move:hover, .btn_copy:hover
  {
  color: white;
  }
  .btn{
  border: 1px solid;
  }
  .m_tb_5
  {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .modal_close
  {
    color: black;
  }
  .modal_close:hover
  {
    color: red;
  }


  /*sort*/
  body.dragging, body.dragging * {
    cursor: move !important;
  }

  .dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
  }

  ul.example li.placeholder {
    position: relative;
    /** More li styles **/
  }
  ul.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
  }

  .btn_move
  {
    color: blue !important;

  }
  .btn_move:hover
  {
    color: white !important;
  }
  .prev:hover{
    color:white !important;
  }
  .mb_5
  {
    margin-bottom: 5px;
  }
  .pd_10
  {
    padding:10px;
  }
  .card_click
  {
    cursor: pointer;
  }
  .card_click:hover
  {
    background-color: #b7b7ff;
  }
  .file_chk{
    display: none;
  }
  .file_chk_img {
    display: none;
  }
   .file_chk_other{
    display: none;
  }
  #trash_img,#trash,.trash_other{
    display: none;
  }
  .war{
        font-size: 12px;
    color: grey;
  }
  legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}
.fieldsetCl{
    min-width: 0;
    padding: 10px 15px;
    border: 1px solid #c2c2c2;
    margin-bottom: 15px;
}
.legtext{
  font-size: 14px;
    color: grey;
    /*width: 72px;*/
}
.navbar-nav.ui-sortable li{padding: 5px;border-bottom: 1px solid #e5eaf1;}
.navbar-nav.ui-sortable li:hover{background-color: #ffffff;}
.dark-mode .navbar-nav.ui-sortable li{border-bottom: 1px solid #103153;}
.dark-mode .navbar-nav.ui-sortable li:hover{background-color: #222741;}
.navbar-nav.ui-sortable li li:last-child{border-bottom: 0;}
.navbar-nav.ui-sortable li .category_name
  {
  font-weight: 400;
  color: #e07725;
  font-size: 18px;
  }

  .navbar-nav.ui-sortable li li .category_name
  {color: #241175;font-weight: 400;font-size: 16px;}
  .dark-mode .navbar-nav.ui-sortable li li .category_name{color: #aeaabd;}

.customdiv{margin-bottom: 30px;}
.modal.fade .modal-dialog input[type=text]{
  border: 1px solid #e6e3e3;
  width: 85%;
  padding: 7px 15px;
  font-size: 14px;
}